@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{
  var employeeToolbar = Kit.Toolbar.Default().Delete();

}
<div class="app-peopledirectory4-wrapper">
  <div class="row row-cols-1 row-cols-lg-2">
    @foreach(var employee in AsList(Data)) {
      var urlParamters = Settings.DetailsView == true ? "person=" : "id=";

      <div class="col mb-4" @employeeToolbar.For(employee)>
        <a class="card bg-light h-100 text-decoration-none" href='@Link.Image(Link.To(parameters: @urlParamters + employee.UrlKey))'>
          <div class="row h-100 g-0 align-items-center">
            <div class="col-3">
              @if(Text.Has(employee.Image)) {
                @Kit.Image.Picture(employee.Field("Image"), settings: Kit.Image.Settings("Employees"), imgClass:"img-fluid ms-2 ms-sm-0")
              } else {
                <div class="bg-primary img-placeholder"></div>
              }
            </div>
            <div class="col">
              <div class="card-body">
                <h3 class="card-title mb-1">@employee.FullName</h3>
                <p class="card-text text-dark">@employee.Function</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    }
  </div>
</div>

@Html.Partial("./_Assets.cshtml")