@inherits Custom.Hybrid.Razor14

@* show warning for admin if koi.json is missing *@
@if (Kit.Css.IsUnknown && CmsContext.User.IsSiteAdmin) {
  <div class='dnnFormMessage dnnFormWarning'>
    @Html.Raw(Connect.Koi.Messages.CssInformationMissing) <br>
    @Html.Raw(Connect.Koi.Messages.OnlyAdminsSeeThis)
  </div>
}

<link rel="stylesheet" href="@App.Path/bs5/dist/styles.min.css" @Kit.Page.AssetAttributes()>
<script src="@App.Path/bs5/dist/scripts.min.js" @Kit.Page.AssetAttributes()></script>
