@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;

@{
  Kit.Page.Activate("FontAwesome5");

  var Person = Content;

  var personToolbar = Kit.Toolbar.Default(Person);
}

@if(Person != null){
  <div class="container mb-4">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7">
        <h1>
          @Person.Title
        </h1>
        <div class="mb-4">
          @Html.Raw(Person.Text)
        </div>
        <a class="btn btn-outline-primary d-none d-lg-inline-block" href='@Link.To(api: "api/VCard/Get", parameters: "id=" + Person.UrlKey)' target="_blank">
          Meine Daten zu deinen Kontakten hinzufügen
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 offset-lg-1 card-wrapper" @personToolbar>
        <div class="shadow rounded bg-white p-3 d-flex flex-column alging-items-center text-center mb-4 mb-lg-0">
          <div class="mb-1">
            @Kit.Image.Picture(Person.Image, settings: Kit.Image.Settings("Employees"), imgClass:"img-fluid rounded-circle", imgAlt: Person.Title)
          </div>
          <strong>
            @Person.FullName
          </strong>
          <p class="small">
            @Person.Function
          </p>
          <p class="small">
            @Person.Street
            <br>
            @Person.ZipCode @Person.City<span>@if(Text.Has(Person.Country)) {<span>, @Person.Country</span>}</span>
          </p>
          <p class="small">
            <a class="mb-1" href="tel:@Person.Phone">
              Telefon @Person.Phone
            </a>
            <br>
            <a href="mailto:@Person.EMail">
              @Person.EMail
            </a>
          </p>
          <p class="d-flex justify-content-around">
            @if(Text.Has(Person.LinkedIn)){
              <a href="@Person.LinkedIn" title="LinkedIn">
                <i class="fab fa-linkedin-in"></i>
              </a>
            }
            @if(Text.Has(Person.Facebook)){
              <a href="@Person.Facebook" title="Facebook">
                <i class="fab fa-facebook-f"></i>
              </a>
            }
            @if(Text.Has(Person.Twitter)){
              <a href="@Person.Twitter" title="Twitter">
                <i class="fab fa-twitter"></i>
              </a>
            }
            @if(Text.Has(Person.Instagram)){
              <a href="@Person.Instagram" title="Instagram">
                <i class="fab fa-instagram"></i>
              </a>
            }
          </p>
        </div>

        <a class="btn btn-outline-primary d-block d-lg-none" href='@Link.To(api: "api/VCard/Get", parameters: "id=" + Person.UrlKey)' target="_blank">
          Meine Daten zu deinen Kontakten hinzufügen
        </a>

      </div>
    </div>
  </div>

} else {
  <h1>
    There is no employee selected. Please select one from the list below.
  </h1>
}

@Html.Partial("./_Assets.cshtml")