@inherits Custom.Hybrid.Razor14
@* --- This is the Bootstrap5 Edition of the Files --- *@

@* show warning for admin if koi.json is missing *@
@if (Kit.Css.IsUnknown && CmsContext.User.IsSiteAdmin) {
  <div class='dnnFormMessage dnnFormWarning'>
    @Html.Raw(Connect.Koi.Messages.CssInformationMissing) <br>
    @Html.Raw(Connect.Koi.Messages.OnlyAdminsSeeThis)
  </div>
}

@* 1. Include styles of the App *@
<link rel="stylesheet" href="@CmsContext.View.Path/dist/styles.min.css" @Kit.Page.AssetAttributes()>

@* 2. Include scritps of the App *@
<script src="@CmsContext.View.Path/dist/scripts.min.js" @Kit.Page.AssetAttributes()></script>

