@inherits AppCode.Razor.AppRazor
@using ToSic.Razor.Blade
@using AppCode.Data
@* --- This is the Bootstrap5 Edition of the Files --- *@

@{
  // Get one Person
  var pers = As<Person>(MyData);
}

@* If we don't have data, stop here *@
@if (pers == null) {
  <h1>
    @App.Resources.NoPerson
  </h1>
  return;
}

<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-7">
      <h1>
        @pers.Title
      </h1>
        @pers.Html("Text").Class("mb-4")
      <a class="btn btn-outline-primary d-none d-lg-inline-block" href='@Link.To(api: "api/VCard/Get", parameters: "id=" + pers.UrlKey)' target="_blank">
        @App.Resources.AddContact
      </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 offset-lg-1 card-wrapper" @Kit.Toolbar.Default(pers)>
      <div class="shadow rounded bg-white p-3 d-flex flex-column alging-items-center text-center mb-4 mb-lg-0">
        <div class="mb-1">
          @pers.Picture("Image", settings: Kit.Image.Settings("Employees"), imgClass:"img-fluid rounded-circle", imgAltFallback: pers.Title)
        </div>
        <strong>
          @pers.FullName
        </strong>
        <p class="small">
          @pers.Function
        </p>
        <p class="small">
          @pers.Street
          <br>
          @pers.ZipCode @pers.City<span>@if (pers.IsNotEmpty("Country")) {<text>, @pers.Country</text>}</span>
        </p>
        <p class="small">
          <a class="mb-1" href='tel:@pers.Phone.Replace(" ", "")'>
            Telefon @pers.Phone
          </a>
          <br>
          <a href="mailto:@pers.EMail">
            @pers.EMail
          </a>
        </p>
        @* Social Media buttons *@
        <p class="d-flex justify-content-around">
          @if (pers.IsNotEmpty("LinkedIn")) {
            <a href="@pers.LinkedIn" title="LinkedIn">
              <i class="fab fa-linkedin-in"></i>
            </a>
          }
          @if (pers.IsNotEmpty("Facebook")) {
            <a href="@pers.Facebook" title="Facebook">
              <i class="fab fa-facebook-f"></i>
            </a>
          }
          @if (pers.IsNotEmpty("Twitter")) {
            <a href="@pers.Twitter" title="Twitter">
              <i class="fab fa-twitter"></i>
            </a>
          }
          @if (pers.IsNotEmpty("Instagram")) {
            <a href="@pers.Instagram" title="Instagram">
              <i class="fab fa-instagram"></i>
            </a>
          }
        </p>
      </div>

      <a class="btn btn-outline-primary d-block d-lg-none" href='@Link.To(api: "api/VCard/Get", parameters: "id=" + pers.UrlKey)' target="_blank">
        @App.Resources.AddContact
      </a>

    </div>
  </div>
</div>

@* Include FontAwesome5 and other assets *@
@Kit.Page.Activate("FontAwesome5")
@Html.Partial("./Assets.cshtml")
