@inherits AppCode.Razor.AppRazor
@using ToSic.Razor.Blade
@using AppCode.Data
@* --- This is the Bootstrap5 Edition of the Files --- *@

@{
  // Get one Person
  var person = As<Person>(MyData);
}

@* If we don't have data, stop here *@
@if (person == null) {
  <h1>
    @App.Resources.NoPerson
  </h1>
  return;
}

<div class="container mb-4">
  <div class="row justify-content-center">
    @* Introduction Title, Body, vCard Download *@
    <div class="col-12 col-lg-7">
      <h1>
        @person.Title
      </h1>
        @person.Html("Text").Class("mb-4")
      <a class="btn btn-outline-primary d-none d-lg-inline-block" href='@Link.To(api: "api/VCard/Get", parameters: "id=" + person.UrlKey)' target="_blank">
        @App.Resources.AddContact
      </a>
    </div>

    @* Sidebox with image, function, address and more datails *@
    <div class="col-12 col-md-6 col-lg-4 offset-lg-1 card-wrapper" @Kit.Toolbar.Default(person)>
      <div class="shadow rounded bg-white p-3 d-flex flex-column alging-items-center text-center mb-4 mb-lg-0">
        <div class="mb-1">
          @person.Picture("Image", settings: "Employees", imgClass:"img-fluid rounded-circle", imgAltFallback: person.Title)
        </div>
        <strong>
          @person.FullName
        </strong>
        <p class="small">
          @person.Function
        </p>
        <p class="small">
          @person.Street
          <br>
          @person.ZipCode @person.City<span>@if (person.IsNotEmpty("Country")) {<text>, @person.Country</text>}</span>
        </p>
        <p class="small">
          <a class="mb-1" href='tel:@person.Phone.Replace(" ", "")'>
            Telefon @person.Phone
          </a>
          <br>
          <a href="mailto:@person.EMail">
            @person.EMail
          </a>
        </p>
        @* Social Media buttons *@
        <p class="d-flex justify-content-around">
          @if (person.IsNotEmpty("LinkedIn")) {
            <a href="@person.LinkedIn" title="LinkedIn">
              <i class="fab fa-linkedin-in"></i>
            </a>
          }
          @if (person.IsNotEmpty("Facebook")) {
            <a href="@person.Facebook" title="Facebook">
              <i class="fab fa-facebook-f"></i>
            </a>
          }
          @if (person.IsNotEmpty("Twitter")) {
            <a href="@person.Twitter" title="Twitter">
              <i class="fab fa-twitter"></i>
            </a>
          }
          @if (person.IsNotEmpty("Instagram")) {
            <a href="@person.Instagram" title="Instagram">
              <i class="fab fa-instagram"></i>
            </a>
          }
        </p>
      </div>

      <a class="btn btn-outline-primary d-block d-lg-none" href='@Link.To(api: "api/VCard/Get", parameters: "id=" + person.UrlKey)' target="_blank">
        @App.Resources.AddContact
      </a>

    </div>
  </div>
</div>

@* Include FontAwesome5 and other assets *@
@Kit.Page.Activate("FontAwesome5")
@Html.Partial("./Assets.cshtml")
